* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

.App {
  text-align: center;
}

.header {
  font-size: 3rem;
  padding: 10px;
  margin: 20px 0;
}

.header-text {
  font-size: 1.5rem;
  margin: 50px 0;
}

.form {
  margin: 10px;
}

.input {
  padding: 5px 50px 5px 25px;
  height: 80px;
  font-size: 1.5rem;
  color: #111;
  width: 600px;
  border-radius: 50px;
  border-color: #111;
  border-width: 2px;
  background-color: #fff;
  position: relative;
}

.input:focus {
  outline: none;
}

.add-btn {
  font-size: 2rem;
  height: 40px;
  width: 40px;
  margin-left: -70px;
  transform: translateY(50%);
  cursor: pointer;
  border-radius: 50%;
  border-color: #111;
  background-color: transparent;
  position: absolute;
}

.add-btn:hover,
.add-btn:focus {
  background-color: lightgray;
}

#select {
  margin: 0 10px 0 100px;
  font-size: 1.5rem;
  height: 80px;
  width: 200px;
  padding: 5px;
  border-radius: 40px;
  border-color: #111;
  border-width: 2px;
  background-color: #fff;
  color: #111;
}

#select:focus {
  outline: none;
}

/* Todo list */

.todo-container {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.todo-item {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #111;
}

.todo-text {
  padding: 0 10px 0 0;
  font-size: 1.5rem;
  background-color: transparent;
}

.completed {
  opacity: 0.5;
  text-decoration-line: line-through;
  text-decoration-color: #111;
  text-decoration-thickness: 4px;
}

.todo-btns {
  height: 38px;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.complete-btn,
.delete-btn {
  border-style: none;
  height: 33px;
  width: 33px;
}

.check-icon,
.trash-icon {
  background-color: #fff;
  height: 38px;
  width: 38px;
  cursor: pointer;
}

.check-icon:hover {
  color: rgb(0, 206, 0);
}

.trash-icon:hover {
  color: rgb(218, 1, 1);
}

@media screen and (max-width: 930px) {
  .header {
    font-size: 2.5rem;
  }

  .header-text {
    font-size: 1rem;
  }

  .input {
    height: 60px;
    width: 80vw;
    font-size: 1.2rem;
  }

  .add-btn {
    align-items: center;
    font-size: 1.5rem;
    height: 30px;
    width: 30px;
    margin-left: -50px;
    transform: translateY(50%);
    cursor: pointer;
    border-radius: 50%;
    border-color: #111;
    background-color: transparent;
    position: absolute;
  }

  .form {
    margin: 20px 0px 0px 0px;
  }

  #select {
    height: 60px;
    width: 60vw;
    margin: 15px;
    font-size: 1.2rem;
  }

  .todo-container {
    margin: 40px 0;
  }

  .todo-item {
    width: 90vw;
  }

  .todo-text {
    font-size: 1.2rem;
  }
} ;
